.textStyle {
    margin-bottom: 55%;
    top: 50%;
    left: 0;
    width: 100%;
    display: block;
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;
    color: whitesmoke;
    text-align: center;
}


.background {
    top: -7.5vw;
    left: 0;
    width: 56vw;
    height: 70vh;
    margin: 5% 0 0 2%;
    position: relative;
    display: inline-block;
    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);    /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
    background-image: url(../Images/Mamatha.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: none;
    object-position: center;
  } 

  
  .homeContainer {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%
  }
 
  .descriptionStyle {
    color: whitesmoke;
    word-break: break-word;
    font-weight: 300;
    font-size: 20px;
    font-family: "Roboto";
    margin: 0 10% 0 0;
  }

  .wordStyle, .hi {
    color: #d32f2f;
  }


  